VITE_GRAPHQL_SERVER=https://api-stage-swissborg.galactica.com
VITE_API_URL=https://api-stage.swissborg.io
VITE_AUTH_SECRET=uHJNz2Rn7O1afujMo9sgjg==
VITE_TEST_SESSION_TOKEN=eyJhbGciOiJFUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzd2lzc2JvcmciLCJhdWQiOiJzd2lzc2JvcmciLCJpYXQiOjE3MjcyNDg2NjcsImV4cCI6MTc1ODc4NDY2NywibmJmIjoxNzI3MjQ4NTQ3LCJqdGkiOiJobE8yakd1RTFoLTYzMFlNSUVEeHRBIiwic3ViIjoiMjA2NzAxZGFmM2YwZTVjYmM1NDdhYzI3Yjc3YTQyMzYiLCJzaWQiOiJlYzUwMmNkMC01MGYwLTQ2YjYtOTVmZC04MzlkODI4Njg0YWIiLCJzY29wZXMiOlsia3ljLXJlYWQiXX0.APtvkhxd9GQoqGgOMLWZMIWAcIgJ3Gj0PL7Sq18KQzlHI5H-xfRbCdlkEmNLpcUOeSAWoNXdk0VS4D0_JpnjFXtBAXJ6YtX3uudlA6mowcFltbpsHYDdCYmKyTP3tllmq4Teui5Ks5I74w7nozYdZUlyZotR54uhlYWD7Boa6VgUYRvC
