node_modules/
dist/
.env

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/settings

.env.development
.env.production
.env.local

src/shared/graphql/index.ts